@import "tailwindcss";

:root {
    font-family: system-ui, sans-serif;
}

body {
    color: #ffffff !important;
    background-color: #000000;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: url("/white-wall-3-2.png") center  repeat;
    z-index: -1;
}