@import "tailwindcss";

:root {
    font-family: var(--font-montserrat), system-ui, sans-serif;
}
body{
    color: #ffffff !important;
    background-color: #000000;
    background-image: url("/public/white-wall-3-2.png");
}
